# Install pip packages
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
accelerate==0.32.1
diffusers==0.29.2
peft==0.6.2
pymeshlab==2023.12.post1
omegaconf==2.3.0
Pillow==10.1.0
einops==0.7.0
transformers==4.42.3
trimesh==4.0.5
rembg==2.0.57
huggingface-hub==0.23.4
imageio[ffmpeg]==2.34.2
gradio==4.37.2